.wp-block-cover.HeroVideo {

  height: 100vh;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  .wp-block-cover__inner-container {

    height: 100%;

    .wp-block-cover {

      // height: 100%;

      .wp-block-cover__background {

        z-index: 0; 
      }

      video.wp-block-cover__video-background {

        z-index: 1;  
        mix-blend-mode: screen;
      }

      .wp-block-cover__inner-container {

        z-index: 2;
        // height: 100%;
      }
    }
  }
}