/**************************************
  ROOT 
***************************************
*/

:root {
  
  /* SIZES */

  --space: 8px;

  // Spaces

  --s025: calc(var(--space) * 0.25);
  --s05: calc(var(--space) * 0.5);
  --s075: calc(var(--space) * 0.75);
  --s: var(--space);
  --s15: calc(var(--space) * 1.5);
  --s2: calc(var(--space) * 2);
  --s3: calc(var(--space) * 3);
  --s4: calc(var(--space) * 4);
  --s5: calc(var(--space) * 5);
  --s6: calc(var(--space) * 6);
  --s7: calc(var(--space) * 7);
  --s8: calc(var(--space) * 8);
  --s9: calc(var(--space) * 9);
  --s10: calc(var(--space) * 10);

  // Color

  --color-naranja: var(--wp--preset--color--naranja);
  --color-negro: var(--wp--preset--color--negro);
  --color-gris-oscuro: var(--wp--preset--color--gris-oscuro);
  --color-gris-claro: var(--wp--preset--color--gris-claro);
  --color-blanco: var(--wp--preset--color--blanco);
  --color-blanco-transparente: var(--wp--preset--color--blanco-transparente);
  --color-negro-transparente: var(--wp--preset--color--negro-transparente);
}

