.wp-block-poeticsoft-svganim {

  .SVG {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    object {

      display: block;
      width: 100%;
      height: 100%;
    }
  }
}