@use '~commonscss/mixin' as *;
@use '~commonscss/main';

html,
body {

  padding: 0;
  margin: 0; 
  height: 100%;
  overflow:hidden;
  // -webkit-overflow-scrolling:touch
}

body {
  
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wp-site-blocks,
#APP,
.entry-content.wp-block-post-content { 

  @include absolutebox();
  padding: 0;
  margin: 0;
}

#APP { 
  
  z-index: 0; 
}

.entry-content.wp-block-post-content {
  
  overflow: auto;
  z-index: 1; 
  background-color: transparent;
  isolation: isolate;
}